<!DOCTYPE HTML>

<html>

<head>
	<title>JD Sweep</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	{% load static %}
	<link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'main/css/gallery.css' %}" />

</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a href="/" style="width: 140px; margin-top: 20px;"><img id="logosweep" src="static/main/images/jdss_logo_3.png" alt="jd logo"
			style="width: 140px; margin-top: 55px; margin-left: 10px;"></a>
		
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="/">Home</a></li>
			<li><a href="/aboutus">About us</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/quote">Get a quote</a></li>
			<li><a href="/pay">Pay Online</a></li>
			<li><a href="/careers">Careers</a></li>
			<li><a href="/contact">Contact us</a></li>
		</ul>
	</nav>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Jack Davenport <br> Sweeping Services</h1>
			<p>Quality Street Sweeping and Serving the Community<br />
				Since 1979</p>
		</div>
		<video autoplay loop muted playsinline src="static/main/images/banner.mp4"></video>
	</section>

	<!-- Highlights -->
	<section class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>Welcome to Jack Davenport Sweeping Services!</h2>
				<p>We offer quality street
					sweeping, parking lot sweeping, power washing and day porter
					services to counties, property management companies, and
					construction clients throughout California</p>
			</header>
			<div class="highlights">
				<section>
					<div class="content">
						<header>
							<a href="/green" class="icon fa-leaf"><span class="label">Icon</span></a>
							<h3>Keeping it Green</h3>
						</header>
						<p>Not only have we been keeping cities and counties clean for 40 years, here at Jack Davenport
							Sweeping Services we believe
							in maintiaining our machinery to the highest standards in environmental protection. Our
							fleet is not only highly efficient
							but are in compliance with the strict air quality regulations mandated by the California Air
							Resources Board.
							<br>
							<a href="/green" class="alt">Learn More</a>
						</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<a href="/green" class="icon fa-truck"><span class="label">Icon</span></a>
							<h3>Our Sweepers</h3>
						</header>
						<p> Our fleet consists of over 30 broom and regenerative air PM-10 and Rule 1186 certified
							street sweepers. That means they have the latest technologies to meet EPA and CARB mandates,
							but can also pick up
							particles as small as 10 microns per million in diameter - that's about 4-12 times smaller
							than a human hair!
							<br>
							<a href="/green" class="alt">Learn More</a>
						</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<a href="/aboutus" class="icon fa-handshake-o"><span class="label">Icon</span></a>
							<h3>Family Owned</h3>
						</header>
						<p>Jack Davenport Sweeping Services is the largest, most experienced street and parking lot
							sweeping business in Kern County. We are also family owned and our team of 25 consists of
							talented
							and skilled operators, mechanics and office personnel. This means we will take personal care
							and attention in every job we do.
							<br>
							<a href="/aboutus" class="alt">Learn More</a>
						</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<a href="/pay" class="icon fa-credit-card-alt"><span class="label">Icon</span></a>
							<h3>Pay Online</h3>
						</header>
						<p>Click here to pay your invoice online!</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<a href="/quote" class="icon fa-check-circle"><span class="label">Icon</span></a>
							<h3>Get a Quote</h3>
						</header>
						<p>Tell us a bit about what your job and we can provide you with a quote.</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<a href="/careers" class="icon fa-briefcase"><span class="label">Icon</span></a>
							<h3>Come Work with Us</h3>
						</header>
						<p>We are always looking for great folks to come join our team. Take a look here to see if there
							is an opportunity for you!</p>
					</div>
				</section>
			</div>
		</div>
	</section>

	<!-- CTA -->
	<section id="cta" class="wrapper"
		style="background-image: linear-gradient(rgba(112, 164, 254, 0.25), rgba(48, 54, 125, 0.25)), url(static/main/images/newtruck_3.jpg);">
		<div class="inner">
			<h2>Experience the Difference</h2>
			<p style="font-size: 25px;;">With Jack Davenport Sweeping Services you can count on a world-class experience, no cutting corners, no rework, no compromise.</p>
		</div>
	</section>

	<!-- Testimonials -->
	<section class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>See our advanced sweepers</h2>
				<p>Check out these pictures to take a look at the advanced technologies we work with.</p>

				<div class="fg-gallery">
					<img src="static/main/images/newtruck_1.jpg" alt="">
					<img src="static/main/images/municipalservices_head.jpg" alt="">
					<img src="static/main/images/pm10_head.jpg" alt="">
					<img src="static/main/images/pw2_head.jpg" alt="">
					<img src="static/main/images/truck_head.jpg" alt="">
					<img src="static/main/images/vacuum_truck.jpg" alt="">
					<img src="static/main/images/water_head.jpg" alt="">
					<img src="static/main/images/rescomm_head.jpg" alt="">
				</div>
			</header>
			<header class="special">
					<h2>See what our clients say about us</h2>
					
				</header>
			<div class="testimonials">
				<section>
					<div class="content">
						<blockquote>
							<p>Jack Davenport Sweeping saved the day. Needed them in a pinch and they came to the rescue</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="static/main/images/pic01.jpg" alt="" />
							</div>
							<p class="credit">- <strong>Jane Doe</strong> <span>CEO - Top Client 1, Inc.</span></p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Never going with another competitor. Had to do rework with those guys. JD Sweep did it right the first time.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="static/main/images/willf.jpg" alt="" />
							</div>
							<p class="credit">- <strong>William Ferrell</strong> <span>CEO - Top Client 2, Inc.</span></p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Really friendly service and great work done. They were willing to come out very short notice</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="static/main/images/pic02.jpg" alt="" />
							</div>
							<p class="credit">- <strong>Janet Smith</strong> <span>CEO - Top Client 3, Inc.</span></p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Keeping the streets clean</h3>
					<p>Don't settle for less. Jack Davenport Sweeping Services has been succesful because of great work and integrity that spans over 4 decades of hard work and dedication.
						We guarantee all our work and provide a great value while maintaining first-class service and performance.
					</p>
				</section>
				<section>
					<h4>Helpful Links</h4>
					<ul class="alt">
						<li><a href="/aboutus">About us</a></li>
						<li><a href="/services">Services</a></li>
						<li><a href="/quote">Get a quote</a></li>
						<li><a href="/pay">Pay online</a></li>
						<li><a href="/careers">Careers</a></li>
						<li><a href="/contact">Contact us</a></li>
					</ul>
				</section>
				<section>
					<h4>Social</h4>
					<ul class="plain">
						<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
						<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
						<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
						<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; Lance Wade
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="{% static 'main/js/jquery.min.js' %}"></script>
	<script src="{% static 'main/js/browser.min.js' %}"></script>
	<script src="{% static 'main/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'main/js/util.js' %}"></script>
	<script src="{% static 'main/js/main.js' %}"></script>
	<script src="{% static 'main/js/gallery.js' %}"></script>
	<script>
		var myGallery = new FgGallery('.fg-gallery', {
			cols: 4,
			style: {
				border: '10px solid #fff',
				height: '180px',
				boxShadow: '0 2px 10px -5px #000'
			}
		})
	</script>


</body>

</html>