<!DOCTYPE HTML>

<html>

<head>
    <title>JD Sweep - Quote</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/gallery.css' %}" />
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
            <a href="/" style="width: 140px; margin-top: 20px;"><img id="logosweep" src="static/main/images/jdss_logo_3.png" alt="jd logo"
                style="width: 140px; margin-top: 55px; margin-left: 10px;"></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/quote">Get a quote</a></li>
            <li><a href="/pay">Pay Online</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>

    <!-- Heading -->
    <div id="heading"
        style="background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url(static/main/images/banner.jpg);">
        <h1>Get a quote</h1>
    </div>

    <!-- Main -->
    <section id="main" class="wrapper" style="background-image: linear-gradient(rgba(255,255,255,.90),rgba(65, 81, 123, 0.8)), url(static/main/images/bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            ;
            ">
        <div class="inner" style="opacity: .65;">
            <div class="content">
                <header>
                    <h2>The right services at the right price</h2>
                </header>
                <p> Every job is different. Let us know more about what you would like accomplished and we can match the
                    right services at the right cost.</p>
                <hr />
                <h3>Start here</h3>
                <p>
                    <form action="/processquote" method="POST">
                        {% csrf_token %}
                        <div class="row gtr-uniform">
                            <div class="col-12">
                                <label>Describe the job</label>
                                <textarea type="text" name="description"></textarea>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <label>First name</label>
                                <input type="text" name="first_name" id="first_name" placeholder="First Name" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <label>Last name</label>
                                <input type="text" name="last_name" id="last_name" value="" placeholder="Last Name" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <label>Company name</label>
                                <input type="text" name="company" id="company" value="No company listed" placeholder="Company" />
                            </div>

                            <div class="col-4 col-12-xsmall">
                                <label>Phone number</label>
                                <input type="text" name="phone" id="phone" placeholder="(XXX)XXX-XXXX" />
                            </div>

                            <div class="col-6 col-12-xsmall">
                                <label>Email</label>
                                <input type="email" name="email" id="email" value="" placeholder="Email" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <label>Where is this job located?</label>
                                <input type="text" name="location" id="location" value="" placeholder="Address" />
                            </div>
                            <div class="col-12">
                                <label>Do you have a contract with us or is this a one-time job?</label>
                                <select name="custcategory" id="category">
                                    <option value="">- Select -</option>
                                    <option value="contract">We have a contract with you</option>
                                    <option value="special">One time job</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label>Do you require a broom or vacuum truck?</label>
                                <select name="truckcategory" id="category">
                                    <option value="">- Select -</option>
                                    <option value="broom">Broom Truck</option>
                                    <option value="vacuum">Vacuum</option>
                                    <option value="broom_vacuum">Both</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label>Is this a prevailing wage job? <div class="popup" onclick="myFunction()"><a
                                            class="icon fa-question-circle"><span class="label">Icon</span></a>
                                        <span class="popuptext" id="myPopup">Prevailing Wage is defined as the hourly
                                            wage, usual benefits and overtime, paid in the largest city in each county,
                                            to the majority of workers, laborers, and mechanics. Prevailing wages are
                                            established, by the Department of Labor & Industries, for each trade and
                                            occupation employed in the performance of public work.</span>
                                    </div>
                                    <select name="prevailing" id="category">
                                        <option value="">- Select -</option>
                                        <option value="notprevailing">No</option>
                                        <option value="prevailing">Yes</option>
                                    </select>
                            </div>
                            <label>About how many hours do you think you'll need us?</label>
                            <div class="col-2">
                                <select name="hours" id="hours">
                                    <option value="2">- Select -</option>
                                    <option value="2">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Submit Form" class="primary" /></li>
                                    <li><input type="reset" value="Reset" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="content">
                <section>
                    <h3>Keeping the streets clean</h3>
                    <p>Don't settle for less. Jack Davenport Sweeping Services has been succesful because of great work
                        and integrity that spans over 4 decades of hard work and dedication.
                        We guarantee all our work and provide a great value while maintaining first-class service and
                        performance.
                    </p>
                </section>
                <section>
                    <h4>Helpful Links</h4>
                    <ul class="alt">
                        <li><a href="/aboutus">About us</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/quote">Get a quote</a></li>
                        <li><a href="/pay">Pay online</a></li>
                        <li><a href="/careers">Careers</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                </section>
                <section>
                    <h4>Social</h4>
                    <ul class="plain">
                        <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                        <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                        <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                        <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                    </ul>
                </section>
            </div>
            <div class="copyright">
                &copy; Lance Wade
            </div>
        </div>
    </footer>
    
    <script>
        // When the user clicks on div, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>

    <!-- Scripts -->
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/browser.min.js' %}"></script>
    <script src="{% static 'main/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'main/js/util.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>

</body>

</html>