<!DOCTYPE HTML>

<html>
	<head>
		<title>JD Sweep - Services</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		{% load static %}

	<link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'main/css/gallery.css' %}" />
    </head>
    
	<body class="is-preload">

		<!-- Header -->
        <header id="header">
                <a href="/" style="width: 140px; margin-top: 20px;"><img id="logosweep" src="static/main/images/jdss_logo_3.png" alt="jd logo"
                    style="width: 140px; margin-top: 55px; margin-left: 10px;"></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

		<!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/quote">Get a quote</a></li>
                <li><a href="/pay">Pay Online</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>

		<!-- Heading -->
			<div id="heading" style="background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url(static/main/images/banner.jpg);">
				<h1>Services Offered</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper" style="background-image: linear-gradient(rgba(255,255,255,.90),rgba(65, 81, 123, 0.9)), url(static/main/images/bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            ;
            ">
				<div class="inner" style="opacity: .65;">
					<div class="content" >
						<header>
							<h2>Municipal, Residential, and Commercial</h2>
                        </header>
                    
                        <p> Jack Davenport Sweeping Services, Inc. offers a variety of services to meet our client's needs. Whether it is large municipal contract sweeping, daily day porter service, or residential HOA service, we can handle your needs professionally and efficiently. Jack Davenport Sweeping Service Inc. has a modern fleet of PM10 Certified and Rule 1186 AQMD Certified machines, experienced professional operators and staff, and 34 years of experience. Let us know how we can serve you!</p>
						<hr />
                        <h3>Municipal Services</h3>
                        <p>
                                Jack Davenport Sweeping Services, Inc. currently services cities in five different counties. We have spent the last 40 years refining and perfecting our municipal operations while continually implementing the latest advances in technology and environmental protection. Our large fleet of PM10 compliant machines, GPS tracking technology, and experienced staff of highly trained and experienced operators allow us to maintain our position at the forefront of our field.
                        </p>
						<p>
                            <ul>
                                <li>Residential street sweeping</li>
                                <li>Daily, weekly, monthly contract service</li>
                                <li>On-call services</li>
                                <li>City parking structures, lots</li>
                                <li>State highway sweeping for contractors</li>
                                <li>Medical facilities</li>
                                <li>School district sweeping services</li>
                                <li>Military installations</li>
                                <li>Power washing and steam cleaning</li>
                                <li>Debris removal</li>
                                <li>Water truck services</li>
                            </ul>
                        </p>
                        <hr />
                        <h3>Commercial and Residential Services</h3>
                        <p>
                                We service over fifty residential Homeowners Associations comprised of thousands of households and hundreds of curb miles of streets. Utilizing GPS tracking and PM10-compliant, reliable, quiet machines, we will ensure that your community looks its best while at the same time ensuring that storm drains remain free of obstruction. We provide a variety of services for commercial property managers, retail shopping centers, industrial facilities, and construction projects, as well as providing on call services and track out services. We are able to quietly and efficiently clean any type of paved service in virtually any setting.
                        </p>
						<p>
                            <ul>
                                <li>Residential HOA Street sweeping</li>
                                <li>Shopping center/retail parking lot sweeping</li>
                                <li>"Track out" maintenance for construction sites</li>
                                <li>Steam cleaning of sidewalks</li>
                                <li>Pressure washing of building and facilities</li>
                                <li>Day porter service (replacing trash can liners, removing graffiti, removing loose trash/debris, cleaning vending machines/telephones/benches, maintain ash urns, remove stickers/flyers from light poles and signage, liaison between property manager and other vendors)</li>
                                <li>Warehouse/indoor sweeping</li>
                                <li>Dust suppression</li>
                                <li>Debris removal</li>
                                <li>Water truck services</li>
                            </ul>
                        </p>
                    </div>
                    
				</div>
			</section>

		<!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>Keeping the streets clean</h3>
                        <p>Don't settle for less. Jack Davenport Sweeping Services has been succesful because of great work and integrity that spans over 4 decades of hard work and dedication.
                            We guarantee all our work and provide a great value while maintaining first-class service and performance.
                        </p>
                    </section>
                    <section>
                        <h4>Helpful Links</h4>
                        <ul class="alt">
                            <li><a href="/aboutus">About us</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/quote">Get a quote</a></li>
                            <li><a href="/pay">Pay online</a></li>
                            <li><a href="/careers">Careers</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4>Social</h4>
                        <ul class="plain">
                            <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                            <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Lance Wade
                </div>
            </div>
        </footer>
    

		<!-- Scripts -->
        <script src="{% static 'main/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/js/browser.min.js' %}"></script>
        <script src="{% static 'main/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'main/js/util.js' %}"></script>
        <script src="{% static 'main/js/main.js' %}"></script>

	</body>
</html>